<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<false/>
	<key>developmentAppKey</key>
	<string>7Kz9vxpaQBWM8OXuf2P-Mg</string>
	<key>developmentAppSecret</key>
	<string>6hSw5W9kSnSw7x0da0ytkA</string>
	<key>productionAppKey</key>
	<string>7Kz9vxpaQBWM8OXuf2P-Mg</string>
	<key>productionAppSecret</key>
	<string>6hSw5W9kSnSw7x0da0ytkA</string>
</dict>
</plist>
